.footer {
  background: rgba(255, 255, 255, 0.05);
  /*backdrop-filter: blur(10px);*/
  color: #bdbdbd;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.footer:hover {
  color: #ffffff;
}

.footer span {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  /*-webkit-background-clip: text;*/
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
